<div class="container-fluid m-0 p-0">
    <!-- div skills -->
    <div #skillsDiv id="skills" class="container-fluid bg-black">
        <div class="d-flex justify-content-center p-3 fs-1">
            <span class="text-white animated-underline font-custom-movieFilm">Skills</span>
        </div>
    </div>
    <div class="container-fluid imageBackGround2 d-flex w-100">
        <div class="container d-flex skills-container justify-content-center align-items-center gap-5">
            <div class="">
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/1024px-HTML5_Badge 2.png" class="customSizeImg divSkills">
                </div>
            </div>
            <div>
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/CSS3_logo 2.png" class="customSizeImg divSkills">
                </div>
            </div>
            <div>
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/Unofficial_JavaScript_logo_2 2.png" class="customSizeImg divSkills">
                </div>
            </div>
            <div>
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/Typescript_logo_2020 2.png" class="customSizeImg divSkills">
                </div>
            </div>
            <div>
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/Angular_full_color_logo.png" class="customSizeImg divSkills">
                </div>
            </div>
            <div>
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/React-icon 2.png" class="customSizeImg divSkills">
                </div>
            </div>
        </div>
    </div>
</div>
