<div class="container-fluid m-0 p-0">
    <!-- div skills -->
    <div #skillsDiv id="skills" class="container-fluid bg-black">
        <div class="d-flex justify-content-center p-3 fs-1">
            <span class="text-white animated-underline font-custom-movieFilm">Skills</span>
        </div>
    </div>
    <div class="container-fluid imageBackGround2 d-flex w-100">
        <div class="container d-flex skills-container justify-content-center align-items-center gap-5">
            <div class="divSkills">
                <div class="bg-black p-2 rounded border border-2 border-white w-100">
                    <img src="../../assets/imgSkills/1024px-HTML5_Badge.png">
                </div>
            </div>
            <div class="divSkills">
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/imgSkills/CSS3_logo.png">
                </div>
            </div>
            <div class="divSkills">
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/imgSkills/Unofficial_JavaScript_logo.png">
                </div>
            </div>
            <div class="divSkills">
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/imgSkills/Typescript_logo_2020.png">
                </div>
            </div>
            <div class="divSkills">
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/imgSkills/Angular_full_color_logo.png">
                </div>
            </div>
            <div class="divSkills">
                <div class="bg-black p-2 rounded border border-2 border-white">
                    <img src="../../assets/imgSkills/React-icon.png">
                </div>
            </div>
        </div>
    </div>
</div>
