<div class="container-fluid m-0 p-0">
    <!-- div contatti -->
    <div #contactsDiv id="contacts" class="container-fluid bg-black">
        <div class="d-flex justify-content-center p-3 fs-1">
            <a class="text-white animated-underline font-custom-movieFilm">Contacts</a>
        </div>
    </div>
    <div class="container-fluid imageBackGround5 d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center w-50">
            <div
                class="d-flex flex-column justify-content-center align-items-center bg-black rounded border border-2 border-white p-4 w-100">
                <div class="d-flex flex-column rounded gap-4 justify-content-center align-items-center w-100">
                    <div class="d-flex flex-column gap-3 w-100 fs-5">
                        <form #contactForm="ngForm" (ngSubmit)="sendEmail($event)">
                            <input type="text" name="reply_to" ngModel placeholder="Your E-mail"
                                class="customBorder w-100 p-2 font-custom-caviar">
                            <textarea rows="10" name="message" ngModel placeholder="Write Something..."
                                class="customBorder p-2 font-custom-caviar"></textarea>


                            <div
                                class="d-flex justify-content-center m-3 p-3 border border-2 border-white w-50 align-items-center rounded">
                                <div class="w-100 d-flex justify-content-center"> 
                                    <button type="submit" class="bg-transparent border-0 w-100 fs-4">
                                        <span class="text-white animated-underline p-3 font-custom-caviar">Send
                                            Email</span>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>