<div class="container-fluid m-0 p-0">
    <!-- div progetti -->
    <div #projectsDiv class="container-fluid bg-black" id="projects">
        <div class="d-flex justify-content-center p-3 fs-1">
            <span class="text-white animated-underline font-custom-movieFilm">Projects</span>
        </div>
    </div>
    <div class="container-fluid imageBackGround4 d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center gap-4 p-3">
            <div
                class="bg-black d-flex flex-column justify-content-center align-items-center gap-4 p-3 border border-2 border-white rounded">
                <div class="d-flex flex-column flex-md-row gap-5 ">
                    <div class="bg-black rounded">
                        <a class="d-flex flex-column text-decoration-none rounded border border-2 border-dark"
                            href="https://github.com/andrewizzo/PokeDexProje/tree/develop">
                            <img src="../../assets/copertinaPokemon.png" class="rounded-top">
                            <div class="d-flex justify-content-center fs-5">
                                <span class="text-white p-2 animated-underline font-custom-caviar">Progetto Pokemon
                                    AngularJs</span>
                            </div>
                        </a>
                    </div>
                    <div class="bg-black rounded">
                        <a class="d-flex flex-column text-decoration-none rounded border border-2 border-dark" href="">
                            <img src="../../assets/copertinaPiastrella.png" class="rounded-top">
                            <div class="d-flex justify-content-center fs-5">
                                <span class="text-white d-flex p-2 animated-underline font-custom-caviar">Progetto
                                    Piastrella
                                    AngularJs</span>
                            </div>
                        </a>
                    </div>
                    <div class="bg-black rounded">
                        <a class="text-decoration-none d-flex flex-column rounded border border-2 border-dark"
                            href="https://github.com/andrewizzo/calcolatore-piastrelle">
                            <img src="../../assets/copertinaMattonella.png" class="rounded-top">
                            <div class="d-flex justify-content-center fs-5">
                                <span class="text-white p-2 animated-underline font-custom-caviar">Progetto
                                    Mattonella
                                    ReactJsx</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="fs-3">
                    <a href="https://github.com/andrewizzo" class="text-white animated-underline font-custom-noisy2 pb-2">GitHub Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>