<div class="container-fluid p-0">
    <div class="d-flex flex-column">

        <app-navbar class="container-fluid m-0 p-0"></app-navbar>


        <div class="container-fluid p-0 d-flex flex-column justify-content-center align-items-center">
            <div class="container-fluid imageBackGround1 w-100 ">
                <!-- <div class="d-flex justify-content-center " >
                    <img src="/assets/down.png" alt="">
                </div> -->
                <div class="container-fluid d-flex justify-content-center align-items-center h-100 flex-column fs-1">
                    <span class="text-danger font-custom-noisy">
                         Hello World 
                    </span>
                    <span style="font-family: 'noisy',sans-serif;font-size: 3vw;">Junior <span
                            class="text-danger">Front-end</span> Developer</span>
                </div>
            </div>

            <app-info class="container-fluid p-0 m-0"></app-info>

            <app-skills class="container-fluid p-0 m-0"></app-skills>

            <app-projects class="container-fluid p-0 m-0"></app-projects>

            <app-contacts class="container-fluid p-0 m-0"></app-contacts>
            
            <app-footer class="container-fluid m-0 p-0"></app-footer>
        </div>
    </div>
</div>