.customHeigthImgProfile{
    max-height: 290px;
    background-size: contain;
}

.bgCustomDiv{
    background-color: #625A66;
}

.bgCustomDivHeigth{
    max-height: 275px;
    background-color: #625A66;
}

.customSieImgProfile{
    width: 20%;
}

.customGap{
    display: flex;
    gap: 20%;
}

.flip-card{
    transition: 0.3;
    /* position: relative; */
    
}

.flip-card:hover > .flip-card-inner{
    /* cursor: pointer; */
    transform: rotateY(180deg);
}

.flip-card-inner{
    /* position: absolute; */
    transform-style: preserve-3d;
    transition: transform 1000ms;
    position: relative;
    
}

.flip-card-front , .flip-card-back{
    /* position: absolute; */
    backface-visibility: hidden;
}

.flip-card-front{
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.imgFoot{
    object-fit: contain;
}
