<!-- div info -->
<div class="container-fluid p-0 m-0">
  <div #infoDiv id="info" class="container-fluid bg-black">
    <div class="d-flex justify-content-center p-5">
      <a
        style="font-family: 'movieFilm', sans-serif; font-size: 550%"
        class="text-white animated-underline"
        >Info</a
      >
    </div>
  </div>
  <div class="container-fluid imageBackGround3 d-flex w-100">
    <div
      class="container d-flex justify-content-center align-items-center flex-column gap-2"
    >
      <div class="bg-black w-50 p-2 border border-2 border-white rounded">
        <img src="../../assets/Image (1).jpg" class="img-fluid rounded" />
      </div>
      <div
        class="w-100 bg-black rounded p-2 border border-2 border-white text-center"
      >
        <span class="text-white font-custom-noisy"
          >"Hi, I'm Andrea Izzo, a passionate Junior Front-End Developer with a
          keen eye for creating dynamic and responsive web applications.
          Proficient in HTML, CSS, and JavaScript, I work with modern frameworks
          like Angular and React to build intuitive and high-performance user
          interfaces. Always eager to take on new challenges, I strive to
          continuously improve my skills and</span
        >
      </div>
    </div>
  </div>
</div>
